---
const { title, subtitle } = Astro.props;

import Logo from "../assets/logotrans.png";
import Image from "astro/components/Image.astro";
import { SITE_SOCIALS } from "../consts";

import { Icon } from "astro-icon/components";
import SocialMedia from "./SocialMedia.astro";
---

<style>
  .header {
    box-shadow: 0 10px 10px lightgray;
  }
  .header-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    align-items: center;
  }

  .site-title {
    text-align: center;
    flex-basis: 40%;
  }

  .header-socials { 
    text-align:right;
  }

  .header-logo, .header-socials {
    flex-basis: 20%;
  }

  @media only screen and (width<=600px){
    .header-socials {
      display: none;
    }
    .header-flex {
      display:block;
      text-align: center;
      padding:5px 0;
    }
  }
</style>

<div class="header">
  <div class="header-flex">
    <div class="header-logo">
      <Image src={Logo} alt="gq-cuts-logo" width={"100%"} />
    </div>
    <div class="site-title">
      <h1 style="font-family:Optima">{title}</h1>
      <h3 style="font-family:Helvetica, sans-serif">{subtitle}</h3>
    </div>

    <div class="header-socials">
      <SocialMedia size={28} />
    </div>
  </div>
</div>
