---
import '../styles/global.css'
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts'
---

<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="logotrans.png"/> 
		<meta name="generator" content={Astro.generator} />
		<title>{SITE_TITLE}</title>
		<meta name="description" content={SITE_DESCRIPTION}/>
		
	</head>
