---
import css from '../global.css'
const {title,description} = Astro.props
---

<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="logotrans.png"/> 
    <link rel="stylesheet" href={css}/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}/>
		
	</head>
